<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abghouni Amal</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <header class="header">
        <a href="#home" class="logo">
            Abghouni <span>Amal</span>
        </a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#education">Education</a>
            <a href="#services">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi ,It's <span>Amal</span></h1>
            <h3 class="text-animation">I'm a <span></span></h3>
            <p>
                I am a first-year Master's student at FSTT, specializing in Security and Big Data. Passionate about data science and development, I focus on machine learning and data analysis. Driven by curiosity, I aim to innovate and make an impact.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/amal-abghouni-1b3265289" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                <a href="https://github.com/amalWeb22"><i class='bx bxl-github'></i></a>
                
            </div>
            <div class="btn-group">
                <a href="#" class="btn">Hire</a>
                <a href="#contact" class="btn">Contact</a>
            </div>
        </div>
        <div class="home-img">
            <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile Picture">
        </div>
    </section>
    
    <section class="education" id="education">
       <h2 class="heading">Education</h2>
       <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2020</div>
            <div class="timeline-content">
                <h3>High School</h3>
                <p>High school diploma in Mathematics (Science A) from Jaber Ibn Hayyan High School, Tetouan.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2022</div>
            <div class="timeline-content">
                <h3>DEUG</h3>
                <p>DEUG in Mathematical and Computer Sciences from the Faculty of Sciences, Tetouan.</p>
            </div>
       </div>
       <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2023</div>
            <div class="timeline-content">
                <h3>Bachelor's degree</h3>
                <p>Bachelor's degree in Mathematical and Computer Sciences from the Faculty of Sciences, Tetouan.</p>
            </div>
       </div>
       <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2024</div>
            <div class="timeline-content">
                <h3>Master's Degree</h3>
                <p>pursuing a Master's degree in Security IT and Big Data at the Faculty of Science and Technology in Tangier.</p>
            </div>
       </div>
       </div>
    </section>
    
    <section class="services" id="services">
        <h2 class="heading">Projects</h2>
        <div class="services-container">
            <div class="service-box">
                <div class="service-info">
                    <h4>Integration of MLOps with Signature and Image-Based Malware Detection Systems</h4>
                    <p>
                        - Technologies used: OpenCV, Kubernetes, FastAPI, FlaskAPI, Jenkins, Angular.<br>
                        - Functional specifications: Malware signature analysis, image-based detection using computer vision and machine learning techniques.
                    </p>
                    <a href="https://github.com/Ouassim012/Projet-Machine-Learning"><i class='bx bxl-github'></i> Click here</a>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Design and Development of a Microservices Web Application for Dental Office Management</h4>
                    <p>
                        - Technologies used: UML, Spring Boot, Flask, Angular, Docker, Git, Nginx, GitLab, JWT, MongoDB.<br>
                        - Functional specifications: User account management, appointment scheduling, waiting room management, patient management, and inventory control. A demonstration video is available on my LinkedIn account.
                    </p>
                    <a href="https://gitlab.com/12.ouassim/dental"><i class='bx bxl-github'></i> Click here</a>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Development of a Business Intelligence Solution to Analyze Teaching Performance Indicators</h4>
                    <p>
                        - Technologies used: Pentaho Data Integration, Tableau, MySQL, Power BI.<br>
                        - Functional specifications: Dimensional modeling, ETL, and report generation.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Real-Time Customer Churn Prediction for a Telecommunications Operator</h4>
                    <p>
                        - Technologies used: Kafka, Spark, Docker, MongoDB, Flask, Next.js.<br>
                        - Architecture: Kafka producer, Spark consumer, MongoDB for data storage, Flask API, and Next.js for dashboard creation.
                    </p>
                    <a href="https://github.com/Ouassim012/Projet-Machine-Learning"><i class='bx bxl-github'></i> Click here</a>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Final Year Project: Design and Development of a Web Application for Club Management</h4>
                    <p>
                        - Technologies used: UML, PHP, HTML, CSS, Bootstrap, MySQL.<br>
                        - Functional specifications: Manage accounts, teams, coaches, and announcements.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me</span></h2>
        <form action="/send_email" method="post" >
            <div class="input-group">
            <div class="input-box">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="text" name="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <input type="number" name="number" placeholder="Number" required>
                <input type="text"  placeholder="Subject" required>

            </div>
        </div>
        <div class="input-group-2">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your massage"></textarea>
            <input type="submit" class="btn">
            </div>  
           
        </form>
    </section>
    <footer class="footer">
      <div class="social">
        <a href="https://www.linkedin.com/in/amal-abghouni-1b3265289"><i class='bx bxl-linkedin-square'></i></a>
                <a href=""https://github.com/amalWeb22""><i class='bx bxl-github'></i></a>
                <a href="#"><i class='bx bxl-gmail'></i></a>
      </div>
      <ul class="list">
        <li>
            <a href="#home">About me </a>
        </li>
        <li>
            <a href="#education">Education</a>
        </li>
        <li>
            <a href="#contact">Contact me</a>
        </li>
      </ul>
    </footer>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
